body {
  background-color: $color-black-100;

  .container-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .container-imgLogo {
      position: relative;
      height: 10rem;
    }
    .link-img {
      img {
        position: absolute;
        height: 10rem;
        right: -80px;
        top: 50px;
      }
    }

    .input-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 250px;
      border-radius: 10px;
      background-color: rgb(130, 141, 153, 0.2);
      position: relative;

      @media (max-width: 767px) {
        width: 60%;
      }

      @media (max-width: 480px) {
        width: 80%;
      }

      .enter-user {
        width: 60%;
        position: absolute;
        top: 100px;

        .text-user {
          background-color: transparent;
          border: none;
          width: 100%;
          outline: 0;
          padding-right: 24px;
          position: relative;
          color: $color-white;
          border-bottom: 2px solid $color-white;
          &::placeholder {
            color: $color-white;
          }
        }

        .icon-user {
          color: $color-white;
          position: absolute;
          right: 0;
        }
      }

      .container-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-enter {
          position: absolute;
          width: 70%;
          bottom: 50px;
          background-color: $color-green;
          padding: 5px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          color: $color-white;
          &:hover {
            transition: all 0.3s ease-out;
            background-color: $color-green-100;
          }
        }
      }
    }
  }
}
