//colors
$color-black: #000;
$color-black-100: #24292f;

$color-white: #fff;

$color-gray-100: #c9d1d9;

$color-green: #238636;
$color-green-100: #099e27;

$color-red: #ff0000;

// font:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
